[submodule "3rdparty/glm"]
	path = 3rdparty/glm
	url = https://github.com/voidstorm/glm.git
[submodule "3rdparty/gli"]
	path = 3rdparty/gli
	url = https://github.com/voidstorm/gli.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/voidstorm/imgui.git
[submodule "3rdparty/vez"]
	path = 3rdparty/vez
	url = https://github.com/voidstorm/V-EZ.git
[submodule "3rdparty/steam-audio"]
	path = 3rdparty/steam-audio
	url = https://github.com/voidstorm/steam-audio.git
[submodule "3rdparty/assimp"]
	path = 3rdparty/assimp
	url = https://github.com/voidstorm/assimp.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/voidstorm/glfw.git
[submodule "3rdparty/bullet3"]
	path = 3rdparty/bullet3
	url = https://github.com/voidstorm/bullet3.git
[submodule "3rdparty/gperftools"]
	path = 3rdparty/gperftools
	url = https://github.com/voidstorm/gperftools.git
